<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<center>
    <h1>Create User</h1>

    <form action="/add_user" method="post">
        <label>Username</label>
        <br/>
        <input type="text" name="username">
        <br/>
        <label>Amount</label>
        <br/>
        <input type="number" name="amount">
        <br/> <br/>
        <button type="submit">Submit</button>
        <br/>
        <a href="/login">Login</a>
    </form>
</center>
</body>
</html>
