<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Loan</title>
</head>
<body>
<center>
    <h1>Request Loan</h1>

    <form action="/request_loan" method="post">
        <label>Username</label>
        <br/>
        <input type="text" name="username">
        <br/>
        <label>Person 1</label>
        <br/>
        <input type="text" name="person1">
        <br/>
        <label>Person 2</label>
        <br/>
        <input type="text" name="person2">
        <br/>
        <label>Amount</label>
        <br/>
        <input type="number" name="amount">
        <br/> <br/>
        <button type="submit">Submit</button>
    </form>
</center>
</body>
</html>
